@page
@model Abby_RazorPage_Mike.Pages.Admin.FoodTypes.DeleteModel
@{
}
<form method="post">
    <input hidden asp-for="FoodType.Id" />  <!--Make sure pass Id here, Or the updated FoodType will have a 0 Id, which will be regarded as new entry-->
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete FoodType</h2>
            <hr />
        </div>


        <div class="mb-3">
            <label asp-for="FoodType.Name"></label>
            <input asp-for="FoodType.Name" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;"> Back to List</a>

    </div>
</form>