@page
@model Abby_RazorPage_Mike.Pages.Admin.FoodTypes.UpdateModel
@{
}
<form method="post">
    <input hidden asp-for="FoodType.Id" />  <!--Make sure pass Id here, Or the updated FoodType will have a 0 Id, which will be regarded as new entry-->
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Update FoodType</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="FoodType.Name"></label>
            <input asp-for="FoodType.Name" class="form-control" />
            <span asp-validation-for="FoodType.Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;"> Back to List</a>

    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}