@page
@model Abby_RazorPage_Mike.Pages.Admin.FoodTypes.IndexModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">FoodTypes List</h2>
        </div>
        <div class="col-6">
            <a asp-page="create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>&nbsp;Create New FoodTypes
            </a>
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    FoodType Name
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.FoodTypes)
            {
                <tr>
                    <td width="50%">@obj.Name</td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

@section Scripts{
    <script src="https://kit.fontawesome.com/157d7c246f.js" crossorigin="anonymous"></script><!-- This line is for using FA-->
}


