@page
@model Abby_RazorPage_Mike.Pages.Admin.MenuItems.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Menu Item List</h2>
        </div>
        <div class="col-6">
            <a asp-page="/Admin/MenuItems/Create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>&nbsp;Create New Menu Item
            </a>
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Food Type</th>
                <th></th>
            </tr>
        </thead>

    </table>

</div>

@section Scripts{
    <script src="https://kit.fontawesome.com/157d7c246f.js" crossorigin="anonymous"></script><!-- This line is for using FA-->
}

